<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Luke's Practice Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>

  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="main">
    <!-- Header -->
    <div id="header" class="ui one item menu inverted">
      <h2 class="active item">Practice Tracker</h2>
    </div>

    <!-- Content -->
    <div class="ui container">
      <div v-for="piece in pieces">
        <div class="ui segment" :id="piece.id" v-bind:class="{ raised: selected(piece), blue: selected(piece) }">
          <!-- Segment Content -->
          <div class="ui grid padded divided">
            <!-- Title and Content -->
            <div class="ten wide column">
              <h2>{{ piece.title }}</h2>
              <div v-html="piece.iframe"></div>
            </div>
            <!-- Options -->
            <div class="six wide column">
              <!-- Time -->
              <div class="row">
                <div class="ui two column grid">
                  <div class="column">
                    <h1>
                      Current Time
                      <br>
                      {{ piece.sessionTime }}
                    </h1>
                  </div>
                  <div class="column">
                    <h1>
                      Total Time
                      <br>
                      {{ piece.totalTime }}
                    </h1>
                  </div>
                </div>
              </div>
              <hr>
              <!-- Button Row -->
              <div class="row">
                <button @click="select(piece)" id="playButton" v-if="currentPiece == ''" class="ui primary wide button">
                  <i class="play icon"></i>
                  Start
                </button>
                <button @click="currentPiece = ''" id="pauseButton" v-if="currentPiece == piece.id" class="ui second wide button">
                  <i class="pause icon"></i>
                  Stop
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="main.js"></script>
</body>

</html>
